
<div class="card">
  <div class="card-header ">
    <div class="d-flex justify-content-between">
      <a href="/post/{{id}}">{{title}}</a>
      <p>posted by {{user.username}} on {{create_at}}</p>
    </div>
  </div>
  <div class="card-body">
    <p class="card-text">{{content}}</p>
  </div>
</div>
